{% extends 'base.html'%}
{% import 'bootstrap/wtf.html' as wtf%}

{% block content %}

{{wtf.quick_form(comment_form)}}
{% for blogs in Newblog %}


<div class="container">
    <div class="row">
        <div class="col-md-4 offset-md-2" style="margin-left:15%;">
            <div class="panel panel-default">
                <div class="table-container">
                    <table class="table table-filter">
                        <tbody>
                            <tr data-status="pagado">
                                <td>
                                    <div class="media">
                                        <div class="media-body">
                                            <h4 class="title">{{ blogs.comments }}..
                                            </h4>
                                        </div>
                                    </div>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>


    {%endfor%}
</div>
