{% extends 'base.html'%}

{% block content %}

<div class="container">
    <div class="jumbotron">
        <h1>SPORTS</h1>
    </div>
    <ul class="main-nav" id="js-menu">
        <div class="w3-container">
            <h2>NBA</h2>

            <img src="static/photo/images1.jpeg" alt="nba">

            <img src="static/photo/images2.jpeg" alt="nba">

            <img src="static/photo/images4.jpeg" alt="nba">

            <img src="static/photo/images5.jpeg" alt="nba">

            <img src="static/photo/images6.jpeg" alt="nba">

            <img src="static/photo/images7.jpeg" alt="nba">

        </div>

</div>
{% endblock %}